main {
  flex: 1;
}

main h2 {
  margin: 0.5rem 0;
  font-size: 2rem;
}

main ul {
  list-style: none;
  background: rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5),
    inset -1px -1px 1px rgba(0, 0, 0, 0.5);
}

main li {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}
