<!DOCTYPE html>
<html
  lang="en"
  dir="ltr"
  itemscope
  itemtype="https://schema.org/WebPage"
  prefix="og: http://ogp.me/ns#"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML Template</title>

    <meta name="referrer" content="origin" />
    <link rel="canonical" href="https://htmltemplate.site/" />
    <link rel="icon" type="image/png" href="./icons/64x64.png" />
    <link rel="manifest" href="./manifest.json" />

    <!-- Security -->
    <meta http-equiv="X-Content-Type-Options" content="nosniff" />
    <meta http-equiv="X-XSS-Protection" content="1; mode=block" />

    <meta name="author" content="Igor Agapov" />
    <meta name="description" content="Modern HTML Starter Template" />
    <meta
      name="keywords"
      content="modern, useful, html, html5, css, css3, javascript, js, template, boilerplate"
    />

    <meta itemprop="name" content="HTML Template" />
    <meta itemprop="description" content="Modern HTML Starter Template" />
    <meta itemprop="image" content="./icons/128x128.png" />

    <!-- Microsoft -->
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="application-name" content="HTML Template" />
    <meta name="msapplication-tooltip" content="Modern HTML Starter Template" />
    <meta name="msapplication-starturl" content="/" />
    <meta name="msapplication-config" content="browserconfig.xml" />

    <!-- Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://htmltemplate.site/" />
    <meta property="og:title" content="HTML Template" />
    <meta property="og:image" content="./icons/256x256.png" />
    <meta property="og:site_name" content="HTML Template" />
    <meta property="og:description" content="Modern HTML Starter Template" />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter -->
    <meta name="twitter:title" content="HTML Template" />
    <meta name="twitter:description" content="Modern HTML Starter Template" />
    <meta name="twitter:url" content="https://htmltemplate.site/" />
    <meta name="twitter:image" content="./icons/128x128.png" />

    <!-- IOS -->
    <meta name="apple-mobile-web-app-title" content="HTML Template" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#222" />
    <link rel="apple-touch-icon" href="./icons/256x256.png" />

    <!-- Android -->
    <meta name="theme-color" content="#eee" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- Google Verification Tag -->

    <!-- Global site tag (gtag.js) - Google Analytics -->

    <!-- Yandex Verification Tag -->

    <!-- Yandex.Metrika counter -->

    <!-- Mail Verification Tag -->

    <!-- JSON-LD -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "WebPage",
        "name": "HTML Template",
        "image": ["https://htmltemplate.site/icons/512x512.png"],
        "author": {
          "@type": "Person",
          "name": "Igor Agapov"
        },
        "datePublished": "2020-11-15",
        "description": "Modern HTML Starter Template",
        "keywords": "modern, useful, html, html5, css, css3, javascript, js, template, boilerplate"
      }
    </script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />

    <style>
      /* Critical CSS */
    </style>

    <link rel="preload" href="./css/style.css" as="style">
    <link rel="stylesheet" href="./css/style.css" />

    <link rel="preload" href="./script.js" as="script">
  </head>

  <body>
    <!-- HTML5 -->
    <header>
      <h1>
        Modern HTML <br />
        Starter Template
      </h1>
      <nav>
        <a
          href="https://htmltemplate.site"
          target="_blank"
          rel="noopener"
        >
          WebSite
        </a>
        <a
          href="https://github.com/harryheman/Modern-HTML-Starter-Template"
          target="_blank"
          rel="noopener"
        >
          GitHub
        </a>
      </nav>
      <time></time>
    </header>

    <main></main>

    <footer>
      <p>
        &copy; 2020.
        <a
          href="https://github.com/harryheman"
          target="_blank"
          rel="noopener"
        >
          Igor Agapov
        </a>
      </p>
    </footer>

    <script src="./script.js" type="module"></script>
  </body>
</html>