$font-family: 'Montserrat', sans-serif;
$background-color: linear-gradient(yellow, orange);
$font-color: #222;
$text-align: center;
$page-width: 768px;
$page-height: 100vh;
$margin: 0 auto;
$overflow: hidden;
